.buttons{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin-top: 25px;
}
.create-card{
    margin: 20px;
    padding: 5px;
}
.information{
    display: flex;
    
    align-items: center;
    padding: 5px;
    margin:20px 10px;
    flex-direction: column;
}