.about h4 {
  color: #29395a;
  float: left !important;

  width: 80vw;
  padding: 0px 20px;
  font-size: 28px;
}
p {
  color: #29395a;
  padding: 0px 40px;
  font-size: 18px;
}
.about {
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid #29395a;
  padding: 50px;
  margin: 10px 50px;
}
.about-div {
  display: flex;
  flex-direction: column;
}
