.view-section {
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.chain-view {
  margin: 80px;
  padding: 20px;
  background-color: #eff2f5 !important;
  height: 600px;
}
.short-card {
  border-bottom: 2px solid #29395a;
  margin-right: 3px;
  cursor: pointer;
}

.short-card p {
  font-size: 12px !important;
  /* border-bottom: 2px solid #29395a; */
}
/* .outer {
  background-color: #fff;
  border-radius: 50px;
  height: 26px;
  width: 26px;
  border: 1px solid #29395a;
  transform: translateX(-10px);
} */
.inner {
  background-color: #0991ff;
  border-radius: 50px;
  padding: 4px;
  font-size: 12px;
  height: 24px;
  width: 24px;
  color: #fff;
}

.scrollbar-chainView {
  margin-left: 22px;
  float: left;
  height: 550px;
  width: 250px;

  overflow-y: scroll;
  margin-bottom: 25px;
}

.force-overflow-chainView {
  min-height: 450px !important;
}

#style-chainView::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #fff !important;
}

#style-chainView::-webkit-scrollbar {
  width: 6px !important;
  background-color: #fff !important;
}

#style-chainView::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #29395a !important;
}
