.view-master {
  display: flex;
  flex-direction: column;
}

.view-hero {
  background-color: #25395e;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-1 {
  width: 80vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff !important;
  padding: 10px;
}
.profile-photo {
  width: 50px;
  height: 50px;
  border-radius: 50px;
}
.viewtitle {
  font-size: 20px;
  font-weight: bold;
  margin: 10px;
  border-bottom: 2px solid #fff;
}
.userSection a {
  display: flex;
  color: #fff !important;
  flex-direction: row;
}
.userSection {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 250px;

  flex-direction: row;
}

Link p {
  color: #fff !important;
}
.viewinfo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}
.info {
  width: 60vw;
  padding: 30px;
}
.about-view {
  font-size: 16px;
}
.info-section {
  background-color: #eff2f5;
}
.category-Tag {
  margin: 5px 5px;
  display: inline-block;
  padding: 6px 10px 5px;
  border-radius: 5px;
  border: 2px solid #25395e;
  font-family: proxima-nova, sans-serif;
  font-size: 12px;
  font-weight: 400;
  text-align: center;
  background-color: #eff2f5;
  color: #29395a !important;
  transition: ease-in-out all 0.2s;
  cursor: pointer;
}
.category-Tag:hover {
  background-color: #0991ff;
  color: #fff !important;
  font-size: 14px;
  border: 2px solid #fff;
}
