.view-hero {
  background-color: #25395e;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-1 {
  width: 80vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff !important;
  padding: 50px;
}
.profile-photo {
  width: 50px;
  height: 50px;
  border-radius: 50px;
}
.viewtitle {
  font-size: 20px;
  font-weight: bold;
  margin: 10px;
  border-bottom: 2px solid #fff;
}
.userSection a {
  display: flex;
  color: #fff !important;
  flex-direction: row;
}
.userSection {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 250px;

  flex-direction: row;
}

Link p {
  color: #fff !important;
}
.viewinfo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.info {
  width: 80vw;
  padding: 30px;
}
.about-view {
  font-size: 16px;
}
