.hero {
  display: flex;
  align-items: center;

  flex-direction: column;
  min-height: 100vh;
  width: 100vw;
}
.searchhero {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #29395e;
}
.searchbar {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 50px;
  flex-direction: column;
}
.buscar-caja {
  position: absolute;

  transform: translate(-50%, -50%);
  background: #29395e;

  border-radius: 40px;
}
.card-sc {
  height: 180px;
  width: 380px;
  padding: 10px;
  margin: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: 0.4s all ease-in-out;
  cursor: pointer;
}
.card-sc:hover {
  transform: translateY(-20px);
}

.buscar-caja:hover > .buscar-txt {
  width: 260px;
  padding: 0 6px;

  border-radius: 30px;
  height: 50px;
  background-color: #29395e !important;
}

.buscar-caja:hover > .buscar-btn {
  color: black;
  background-color: #29395a;

  transition: all 0.2s;
  box-shadow: 0 0 20px #fff;
}

.buscar-btn {
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #2f3640;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
  background-color: #0991ff;
  color: white !important;
  cursor: pointer;
  font-size: 20px;
  transform: translateY(10px);
}

.buscar-btn > i {
  font-size: 30px;
}

.buscar-txt {
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color: white;
  font-size: 16px;
  transition: 0.4s;
  line-height: 40px;
  width: 0px;
  font-weight: bold;
}
.search-tag {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #dcdcdc;
}
.allcards {
  padding: 50px 100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.card-text {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin: 10px;
}
.sc-heading {
  font-size: 16px;
  font-weight: bold;
}
.sc-user {
  font-size: 16px;
}
@media (max-width: 720px) {
  .allcards {
    padding: 50px 100px;
    display: grid;
    grid-template-columns: 1fr;
  }

  .card-sc {
    height: 150px;
    width: 250px;
    padding: 10px;
    margin: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: 0.4s all ease-in-out;
    cursor: pointer;
  }
  .categoryTag {
    font-size: 12px;
  }
  .buscar-caja {
    width: 250px !important;
    display: flex;
    justify-content: center;
    /* align-items: center; */
  }
  .buscar-caja:hover > .buscar-txt {
    width: 150px;
    padding: 0 6px;

    border-radius: 30px;
    height: 50px;
    background-color: #29395e !important;
  }
  .sc-text {
    font-size: 18px;
  }
}
