.hero {
  display: flex;
  align-items: center;

  flex-direction: column;
  min-height: 1200px;
  width: 1500px;
}
.allcards {
  background-color: #0c0910;
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 50px !important;
  justify-content: center;
  grid-template-columns: auto;
  /*min-height: 100vh;*/
}

.box-sc {
  position: relative;
  width: 1000px;
  height: 150px;

  border-radius: 15px;
  box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2),
    inset -5px -5px 15px rgba(255, 255, 255, 0.2),
    5px 5px 15px rgba(0, 0, 0, 0.2), -5px -5px 15px rgba(255, 255, 255, 0.2);
  margin: 20px;
}
.card-sc {
  position: absolute;
  top: 20px;
  bottom: 20px;
  left: 20px;
  right: 20px;
  margin: 0px;
  width: 950px;
  height: 100px;
  background-color: #120e18;
  border: 2px solid #1e1f23;
  border-radius: 13px;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
  transition: 0.5s;
  display: flex;
  /* flex-direction: row; */
  /*justify-content: center;
    text-align: left;*/
}
/* .card-sc:hover {
  transform: translateY(-50px);
  box-shadow: 0 20px 70px rgba(0, 0, 0, 0.5);
  min-height: 400px;
} */
.content {
  color: white !important;
  text-decoration: none !important;
}

.search-bar {
  background-color: #0c0910;
  border: none;
  margin: 10px 20px;
  padding: 5px 10px;
  border-bottom: 2px solid #893168;
  box-shadow: 0 2px 2px #893168;
  width: 500px;
  color: #fff;
}
.search-button {
  border-radius: 50%;
  box-shadow: inset 5px 5px 5px #893168,
    inset -5px -5px 15px rgba(255, 255, 255, 0.2), 5px 5px 15px #893168,
    -5px -5px 15px rgba(255, 255, 255, 0.2);
}
button {
  color: #fff !important;
  bottom: 20px !important;
  text-decoration: none;
  float: right;
}
.view-button {
  transform: translateY(50px);
}
.sc-heading {
  font-size: 32px;
  color: #893168;
}

a {
  text-decoration: none;
  color: #893168 !important;
}
/* .sc-about {
  height: 100px;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  padding: 10px 5px;
  margin: 0px 20px;
} */
.sc-tags {
  display: flex;

  justify-content: center;
  align-items: center;

  margin: 20px;
  padding: 20px;

  flex-direction: row;
}
.tags {
  font-size: 16px;
  border: 2px solid #893168;
  padding: 2px 10px;
  margin: 2px;
  width: 60px;
  align-items: left;
}

.user {
  color: #893168 !important;
}
/* button:hover {
  color: #893168 !important;
}
hr {
  color: #893168;
} */
.main-heading {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 900px;

  padding: 10px 5px;
  margin: 0px 20px;
}
/* .last-row {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 5px;
  width: 900px;
} */
