.buttons {
  display: flex;
  justify-content: space-around;
  flex-direction: row !important;
  margin: 25px 100px;
  font-size: 18px;
}
button {
  width: 150px;
}
.create-card {
  padding: 5px;
  width: 80vw !important;
}
.information {
  display: flex;
  justify-content: center;
  align-items: left;
  padding: 5px 50px;
  margin: 20px 50px;
  flex-direction: column;
  color: #fbf3f5;
  border-bottom: 4px solid #29395a;
}
label {
  color: #fbf3f5;
}
input {
  margin: 5px 20px;
  background-color: #0c0910;
  border: none;
  border-bottom: 2px solid #29395a;
  width: 500px;
  color: #fbf3f5;
}
.info-link {
  margin: 10px 0px;
  padding: none !important;
  font-size: 18px;
  color: #29395a;
}
.cards-create {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 20px;
}

.scrollbar {
  margin-left: 22px;
  float: left;
  height: 600px !important;
  width: 300px;

  overflow-y: scroll;
  margin-bottom: 25px;
}

.force-overflow {
  min-height: 1000px !important;
}

#style-1::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #fff !important;
}

#style-1::-webkit-scrollbar {
  width: 6px !important;
  background-color: #fff !important;
}

#style-1::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #29395a !important;
}
.cards-create {
  margin: 50px;
}
.out {
  color: black !important;
}
a {
  color: #29395a !important;
}

@media (max-width: 760px) {
  .create-card {
    padding: 5px;
    width: 100vw !important;
  }
  .information {
    display: flex;
    justify-content: center;
    align-items: left;
    padding: 5px 5px;
    margin: 20px 5px;
    flex-direction: column;
    color: #fbf3f5;
    border-bottom: 4px solid #29395a;
  }
  input {
    width: 300px;
  }
  .buttons {
    display: grid !important;
    grid-template-columns: 1fr 1fr;
    font-size: 18px;
  }
  .cards-create {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  .shortview {
    display: flex;
    justify-content: center;
    flex-direction: row !important;
    align-items: center;
    height: 200px !important;
    padding: 10px 50px !important;
  }
  .scrollbar {
    margin-left: 22px;
    float: left;
    height: 200px !important;
    width: 300px !important;

    overflow-x: auto;
    overflow-y: hidden !important;
    margin-bottom: 25px;
  }

  .force-overflow {
    min-width: 1000px !important;
  }

  #style-1::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #fff !important;
  }

  #style-1::-webkit-scrollbar {
    width: 6px !important;
    background-color: #fff !important;
  }

  #style-1::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #29395a !important;
  }
}
