.home {
  display: flex;
  /* justify-content: center; */
  text-align: center;
  /* align-items: center; */
  width: 100vw;
  min-height: 800px;
  flex-direction: column;
}
.home-hero {
  /* background-image: url(../images/Imgbg.jpg); */
  background-color: #29395a;
  width: 1325px;
  min-height: 400px !important;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  color: #fff;
  /* transform: translateY(-10px); */

  /* backgroundImage: url(../images/Imgbg.jpg),
        backgroundRepeat: "no-repeat",
        width: "100vw",
        height: "100vh",
        maxHeight: "750px",
        backgroundsize: "cover",
        backgroundposition: "center",
        backgroundrepeat: "no-repeat", */
}
.home-title {
  font-size: 36px;
  text-transform: uppercase;
}
.home-about {
  font-size: 18px;

  margin: 20px 100px;
  padding: 10px 100px;
}
.home-buttons {
  color: #000 !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
button {
  margin: 5px 10px;
  padding: 5px 10px;
  width: 100px;
  height: 50px;
  border-radius: 50px;
  background-color: #0991ff;
  box-shadow: inset;
  border: none;
  box-shadow: 0 0 5px #29395a;
  font-size: 16px;
}
button:hover {
  background-color: #29395a;

  transition: all 0.2s;
  box-shadow: 0 0 20px #fff;
  font-size: 17px;
  border-radius: 30px;
  color: #fff;
}
.cards {
  min-height: 400px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #29395a;
  margin: 0px 10px;
  transform: translateY(-80px);
  padding: 20px;
  width: 250px;
  height: 300px;
  background-color: #fff;
  border-radius: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: 0.5s all ease;
}
.card:hover {
  transform: translateY(-100px);
}
.card p {
  color: #29395a;
  font-size: 18px;
  padding: 0px;
  margin: 0px;
}
.card h3 {
  margin: 10px;
}
.display-image {
  width: 100px;
  height: 50px;
  margin: 10px 0px 20px 0px;
}

@media (max-width: 760px) {
  .home {
    height: 1300px;
  }
  .home-hero {
    height: 400px !important;
    width: 100%;
  }
  .home-about {
    margin: 10px;
    padding: 10px;
    height: 160px !important;
  }
  .home-buttons {
    flex-direction: column;
  }
  .cards {
    flex-direction: column;
    height: 900px;
    justify-content: center;
    align-items: center;
  }
  .card {
    width: 200px;
    height: 250px;
    transform: none;
    margin: 20px 10px;
  }
}
