.home {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  /* width: 100vw;
  height: 100vh; */
  flex-direction: column;
}
.home-hero {
  background-image: url(../images/Imgbg.jpg);
  width: 100vw;
  height: 500px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  color: #fff;
  transform: translateY(-10px);

  /* backgroundImage: url(../images/Imgbg.jpg),
        backgroundRepeat: "no-repeat",
        width: "100vw",
        height: "100vh",
        maxHeight: "750px",
        backgroundsize: "cover",
        backgroundposition: "center",
        backgroundrepeat: "no-repeat", */
}
.home-title {
  font-size: 32px;
}
.home-about {
  font-size: 28px;
  margin: 20px 150px;
  padding: 10px 250px;
}
.home-buttons {
  color: #000 !important;
}
button {
  margin: 5px 10px;
  padding: 5px 10px;
  width: 200px;
  height: 50px;
  border-radius: 50px;
  background-color: #05299e;
  box-shadow: inset;
  border: none;
  box-shadow: 0 0 5px #05299e;
}
button:hover {
  background-color: #05299e;

  transition: all 0.2s;
  box-shadow: 0 0 20px #fff;
  font-size: 22px;
  border-radius: 30px;
}
.cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.card {
  color: #05299e;
  margin: 0px 10px;
  transform: translateY(-50px);
  padding: 20px;
  width: 250px;
  height: 250px;
  background-color: #fff;
  border-radius: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card p {
  color: #05299e;
}
