.login {
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.box-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #29395a;
  border: #29395a 2px solid;
  width: 500px;
  height: 70vh;
}
.loginimage {
  height: 500px;
  width: 300px;
}
.box-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border: #29395a 2px solid;
  width: 500px;
  height: 70vh;
  color: #29395a !important;
}
label {
  color: #29395a !important;
  text-align: left;
}
form h3 {
  text-align: center;
  transform: translateY(-50px);
  margin-top: 25px;
}
.form-control {
  border-bottom: 2px solid #29395a !important;
  margin: 0px;
  border: none;
}
input {
  background-color: #fff !important;
  width: 350px;
}
.login-button {
  transform: translateX(70px);
  /* transform: translateY(25px); */
  margin-top: 75px;
}
.switch {
  color: black;
}
.switchtext {
  color: #29395a !important;
}
@media (max-width: 760px) {
  .box-1 {
    display: none;
  }
  .box-2 {
    height: 70vh;
    margin: 50px 10px;
  }
}
