/* nav {
  background-color: #0c1d1c;
} */
.navbar {
  color: #fbf5f3 !important;
  padding: 25px 100px;
  background-color: #29395a !important;
  font-size: 25px;
  width: 100vw;
  height: 65px;
}
.logo {
  height: 50px;
  width: 50px;
}
.navbar-brand {
  color: #fff !important;
  font-size: 20px;
  padding: 5px 10px;
}
.navbar-brand:hover {
  background-color: #fbf5f3;
  color: #0c1d1c !important;
  transition: all 0.2s;
  box-shadow: 0 0 20px #fff;
  font-size: 20px;
  border-radius: 5px;
}

.nav-item {
  background-color: #fbf5f3;
  margin: 10px 10px;
  padding: 0px 10px;
  border-radius: 30px;
  box-shadow: 0 0 5px #fbf5f3;
  font-size: 16px;
  transform: translateY(-5px);
  height: 45px !important;
}
.nav-link {
  color: #000 !important;
}
.nav-item:hover {
  background-color: #29395a;

  transition: all 0.2s;
  box-shadow: 0 0 20px #fff;
  font-size: 20px;
  border-radius: 30px;
}
.nav-link:hover {
  color: #fff !important;
}
@media (max-width: 760px) {
  .navbar {
    padding: 2px 50px;
    height: 100px;
  }
}
