.hero-profile {
  display: grid;
  justify-content: center;
  text-align: left;
  align-items: center;
  grid-template-columns: 2fr 1fr;
  border-bottom: #893168 2px solid;
  padding: 5px 10px 25px 10px;
}
h3 {
  color: #893168;
}
.dp {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  margin-left: 100px;
}
.cards-profile {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 80vw;
  margin: 20px;
  padding: 20px;
}
h4 {
  color: #893168;
  border-bottom: #893168 2px solid;
}
.section-bookmarks {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}
.bookmark {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  border: 2px solid #893168;
  background-color: #fbf5f3;
  padding: 20px;
  margin: 10px;
}
.section-cards {
  margin: 20px;
}
.scrollbar {
  margin-left: 22px;
  float: left;
  height: 500px;
  width: 100%;

  overflow-y: scroll;
  margin-bottom: 25px;
}

.force-overflow {
  min-height: 450px;
}

#style-1::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #0c0910;
}

.section-hero {
  margin: 20px;
}

#style-1::-webkit-scrollbar {
  width: 12px;
  background-color: #0c0910;
}

#style-1::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #893168;
}
