.mycards {
  border: 2px solid #05299e;
  width: 180px;
  height: 100px;
  margin: 12.5px 00px 12.5px 50px;
  border-radius: 30px;
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
}
.mybuttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.mybutton {
  padding: 3px;
  width: 30px;
  height: 30px;
  font-size: 16px;
  margin: 5px;

  transform: translateY(-25px);
}
@media (max-width: 760px) {
  .mycards {
    border: 2px solid #29395a;
    width: 180px;
    height: 100px;
    margin: 12.5px 00px 12.5px 20px;
    border-radius: 30px;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
  }
}
